nameOverride: ""
fullnameOverride: ""

image:
  repository: mojito
  tag: latest
  pullPolicy: IfNotPresent

api:
  replicas: 1
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  containerPort: 8080
  debug:
    enabled: false
    containerPort: 5005
  javaOpts: "-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005"
  resources:
    requests:
      cpu: "1"
      memory: 200Mi

worker:
  replicas: 2
  debug:
    enabled: false
    containerPort: 5005
  javaOpts: "-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005"
  resources:
    requests:
      cpu: "1"
      memory: 200Mi

mysql:
  host: ""
  operator:
    enabled: true
  cluster:
    create: true
    name: mojito-mysql
    instances: 1
    routerInstances: 1
    tlsUseSelfSigned: true
    imagePullPolicy: IfNotPresent
    secretName: mojito-mysql-root
  auth:
    rootUser: root
    rootPassword: ChangeMe
    appUser: mojito
    appPassword: ChangeMe
  database:
    name: mojito
    port: 3306

springApplicationJson:
  shared:
    spring.flyway.enabled: "true"
    l10n.flyway.clean: "false"
    spring.jpa.database-platform: org.hibernate.dialect.MySQLDialect
    spring.jpa.hibernate.ddl-auto: none
    spring.datasource.driverClassName: com.mysql.cj.jdbc.Driver
    spring.jpa.defer-datasource-initialization: "false"
    l10n.org.multi-quartz.enabled: "true"
    l10n.org.multi-quartz.schedulers.default.quartz.jobStore.useProperties: "true"
    l10n.org.multi-quartz.schedulers.default.quartz.scheduler.instanceId: AUTO
    l10n.org.multi-quartz.schedulers.default.quartz.jobStore.isClustered: "true"
    l10n.org.multi-quartz.schedulers.default.quartz.threadPool.threadCount: 10
    l10n.org.multi-quartz.schedulers.default.quartz.jobStore.class: org.quartz.impl.jdbcjobstore.JobStoreTX
    l10n.org.multi-quartz.schedulers.default.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
    l10n.org.multi-quartz.schedulers.default.quartz.jobStore.dataSource: myDS
    l10n.org.multi-quartz.schedulers.default.quartz.dataSource.myDS.provider: hikaricp
    l10n.org.multi-quartz.schedulers.default.quartz.dataSource.myDS.driver: com.mysql.jdbc.Driver
    l10n.org.multi-quartz.schedulers.default.quartz.dataSource.myDS.maxConnections: 12
    l10n.org.multi-quartz.schedulers.default.quartz.dataSource.myDS.validationQuery: select 1
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.jobStore.useProperties: "true"
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.scheduler.instanceId: AUTO
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.jobStore.isClustered: "true"
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.threadPool.threadCount: 5
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.jobStore.class: org.quartz.impl.jdbcjobstore.JobStoreTX
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.jobStore.dataSource: myDS
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.dataSource.myDS.provider: hikaricp
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.dataSource.myDS.driver: com.mysql.jdbc.Driver
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.dataSource.myDS.maxConnections: 12
    l10n.org.multi-quartz.schedulers.lowPriority.quartz.dataSource.myDS.validationQuery: select 1
    l10n.assetExtraction.quartz.schedulerName: lowPriority
    logging.level.com.box.l10n.mojito.quartz.QuartzPollableTaskScheduler: DEBUG
    logging.level.com.box.l10n.mojito.service.repository.statistics.RepositoryStatisticsJob: DEBUG
    logging.level.com.box.l10n.mojito.service.thirdparty.smartling.quartz: DEBUG

  api:
    l10n.org.quartz.scheduler.enabled: "false"

  worker:
    l10n.org.quartz.scheduler.enabled: "true"
